@{
  Layout = "_Layout";
}

<h1>Welcome to the Registrar!</h1>
<br>

<h3>@Html.ActionLink("View Students", "Index", "Students")</h3>

<br>
<br>

<h3>@Html.ActionLink("View Courses", "Index", "Courses")</h3> 